body{
    font-family: 'Times New Roman', Times, serif;
    background-image: url(images/bcg.jpg);
    background-size: 100% 100vh;
    background-position: cover;
    background-repeat:no-repeat;
    background-color: rgb(49, 48, 48);
    max-height: 120vh;
    margin: auto;
    padding: 0%;
}


input,
textarea,
button,
select,
a{
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}


html {
    scroll-behavior: smooth;
  }

#quiz{
    position: absolute;
    margin-top: -100px;

}

.containerForEverything{
    display: flex;
    flex-direction: column;
    margin: auto;
    padding-bottom: 0px;
    max-width: 800px;
    min-height: 60vh;
    position: relative;
    text-align: center;
    margin-top: 160px;
    backdrop-filter: blur( 4.5px );
    -webkit-backdrop-filter: blur( 4.5px );

}

.question{
    color: #cae4e6;
    font-size: 30px;
    letter-spacing: 0.2em;
    padding-bottom: 0px;
    margin: 0px;
    padding-top: 40px;
    margin-left: 70px;
    margin-right: 70px;
    
    
}

.allButtonsContainer{
    display: grid;
    grid-template-columns: 300px 300px;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    justify-content: center;
    padding-bottom: 20px;
    margin-top: 100px;


}

.allButtons{
    width: 300px;
    height: 70px;
    background-color: rgba(126, 147, 167, 0.603);
    border: solid 1px #03e8f41f;
    color: #cae4e6;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 1px;
    backdrop-filter: blur( 4.5px );
    -webkit-backdrop-filter: blur( 4.5px );
    letter-spacing: 0.1em;

}

.allButtons:hover{
    background-color: rgba(90, 105, 119, 0.603);

}


button:disabled{
    background-color:rgba(73, 84, 95, 0.603);
    color: rgba(202, 202, 202, 0.137);
    border: none;
}

button:disabled:hover{
    background-color:rgba(73, 84, 95, 0.603);
}


.wrong{
    background-color: rgba(199, 64, 64, 0.493);
}


.right{
    background-color: rgb(98, 184, 87);
}



.wrong:hover{
    background-color: rgba(199, 64, 64, 0.493);

}



.right:hover{
    background-color: rgb(98, 184, 87);

}

.nextQuestionContainer{
    align-items: center;
    text-align: center;
    margin: auto;
    padding-top: 20px;
    margin-bottom: 20px;
}

.nextQuestionContainer button{
    background-color: rgb(77,86,98);

}

.nextQuestionContainer button:active{
    background-color: rgba(52, 81, 109, 0.425);

}

.startQuizContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(95, 95, 97, 0.418);
    max-width: 800px;
    height: 60vh;
    margin: auto;
    margin-top: 160px;
    backdrop-filter: blur( 4.5px );
    -webkit-backdrop-filter: blur( 4.5px );
}



.startQuizContainer button:active{
    background-color: rgba(52, 81, 109, 0.425);
}


.hide{
    display: none;
}

.show{
    display: flex;
}

.resultContainer{
  
    color: rgb(240, 240, 240);
    width: 400px;
    max-height: 150px;
    text-align: center;
    margin: auto;
    font-size: x-large;
    margin: auto;    
    margin-bottom: 20px;
    margin-top: 20px;
    color: #cae4e6;

}

.resultContainer p {
    padding: 10px;
    margin: 0%;
}


#startQuizButtonToChange{
    padding: 0%;
    margin: 0px;
}

/******Start quiz button with snake border**********/

a:hover{
    background-color: rgba(62, 62, 65, 0.418);

}

a{
    position: relative;
    display: flex;
    padding: 40px 30px;
    color: #03e9f4;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 4px;
    overflow: hidden;
    justify-content: center;
    width: 400px;
    height: 100px;
    margin: auto;
    box-sizing: border-box;
    text-align: center;
    
}


a span{
    position: absolute;
    display: block;
    
}
a span:nth-child(1){
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,#03e9f4);
    animation: animate1 1s linear infinite;
}
@keyframes animate1{
    0%{
        left: -100%;
    }
    50%,100%{
        left: 100%;
    }
}
a span:nth-child(2){
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,#03e9f4);
    animation: animate2 1s linear infinite;
    animation-delay: 0.25s;
}
@keyframes animate2{
    0%{
        top: -100%;
    }
    50%,100%{
        top: 100%;
    }
}
a span:nth-child(3){
    bottom: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,#03e9f4);
    animation: animate3 1s linear infinite;
    animation-delay: 0.50s;
}
@keyframes animate3{
    0%{
        right: -100%;
    }
    50%,100%{
        right: 100%;
    }
}


a span:nth-child(4){
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,#03e9f4);
    animation: animate4 1s linear infinite;
    animation-delay: 0.75s;
}
@keyframes animate4{
    0%{
        bottom: -100%;
    }
    50%,100%{
        bottom: 100%;
    }
}

.easyMediumHardContainer button{
    margin: 10px;
    letter-spacing: 0.2em;

}
/************Timer************************/

#count{
    font-size: xx-large;
    color: #a0e9ecce;
    padding-top: 40px;

}

.rightforcorrectdisabled{
    background-color: rgb(0, 255, 0);
    color: #cae4e6 !important;

}



.rightforcorrectdisabled:disabled{
    background-color: rgba(3, 185, 3, 0.329);
}

.rightforcorrectdisabled:disabled{
    background-color: rgba(3, 185, 3, 0.329);

}

button.rightforcorrectdisabled:hover{
    background-color: rgba(3, 185, 3, 0.329);

}

.easyMediumHardContainer{
    display: flex;
    flex-direction: column;
   margin-bottom: 20px;
   align-items:center;
    
}

    /****************RESPONSIVE********************/

@media only screen and (max-width: 900px){

body{
    background-color: rgba(49, 48, 48, 0);
    background-size: 100% 107vh;
    background-position: cover;

    background-repeat:repeat;
}

.containerForEverything{
    padding: 0%;
    margin: auto;
    text-align: center;
    justify-content: center;
    padding-left: 0px;
    padding-right: 0px;
    min-height: 100vh;
}


.containerForEverything p{
    padding-bottom: 10px;
}

.allButtonsContainer{
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 0%;
    margin-top: 0px;
    margin-bottom: 0px;
}



.startQuizContainer{
    padding: 0px;
    text-align: center;
    margin: auto;
    min-height: 100vh;
    width: 100vw;
}

.startQuizContainer button{
    max-width: 350px;
}

.resultContainer{
    max-width: 350px;

}

.allButtons{
    max-width: 350px;
    max-height: 80px;
}

.question{
    margin-bottom: 30px;
    padding: 30px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 20px;

}

a{
    width: 350px;

}

.nextQuestionContainer{
    padding-top: 0px;
    margin-top: -10px;
    backdrop-filter: blur( 4.5px );

}

}